@media (min-width: 321px) and (max-width: 480px){
    
    .cabecalho{
        flex-direction: column;
        background: #120320;
        padding: 10px;
    }

    .logo img{
        display: none;
    }

    .carrinho{
        width: 100%;
        display: flex;
        justify-content: flex-end;
    }

    .informacao{
        flex-direction: column;
        align-items: center;
        justify-content: center;
        height: 600px;
        width: 100%;
    }

    .informacao img{
        margin-top: 10px;
        width: 20em;
        height: 250px;
        object-fit: cover;
    }

    .informacao-conteudo{
        width: 100%;
        justify-content: center;
        align-items: center;
    }

    .cards-novidades{
        margin: 1em;
    }

    .cards-novidades img{
        width: 150px;
        height: 80px;
    }

    .footer-card{
        display: flex;
        width: 100%;
    }

    .footer-card span{
        font-size: calc(0.6em + 1vw);
        margin-bottom: 5px;
        text-align: center;
    }
}

@media(min-width: 481px) and (max-width: 716px){
    .logo{
        width: 100%;
        text-align: center;
    }
    
    .informacao img{
        margin-top: 10px;
        width: 25em;
        height: 250px;
        object-fit: cover;
    }
}


@media (min-width: 717px) and (max-width: 1025px){
    .cabecalho{
        height: 12vh;
        position: relative;
    }

    .logo img{
        position: absolute;
        right: 0;
        top: 0;
        height: 5em;
    }

    .carrinho .bx{
        position: absolute;
        top: 50%;
        right: 50%;
        font-size: 1.3em;
    }

    .hamburguer{
        display: block;
        position: absolute;
        left: 1em;
        z-index: 1;
    }

    .nav-list{
        display: flex;
        flex-direction: column;
        position: absolute;
        left: 0;
        top: 0;
        justify-content: space-around;
        height: 100vh;
        width: 50vw;
        background: #120320;
        opacity: 0;
        transition: all ease 0.5s;
    }

    .nav-list.ativar{
        opacity: 1;
        transition: all ease 0.5s;
    }

    .informacao img{
       margin: 1em;
    }

    .footer-card{
      margin: 1em;
    }
}